.window {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8.5rem;
    position: relative;
}



.formBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    position: relative;
    z-index: 3;
}

.form {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.figure {
    position: absolute;
    width: 550px;
    height: 100%;
    background: #FCE2CE;
    border-radius: 394px 394px 0 0;
    z-index: 0;
    top: 200px;
    left: 183px;
}

.men {
    position: relative;
    z-index: 1;
    left: 74px;
}


.text {
    font-size: 1.125rem;
    color: #553922;
    align-content: center;
}

@media screen and (max-width: 1500px) {
    .window {
        flex-direction: column;
        justify-content: normal;
    }

    .men {
        left: 27px;
    }

    .image {
        width: 300px;
        height: 300px;
        position: relative;
        top: 100px;
        left: 75px;
    }

    .figure {
        transform: rotate(180deg);
        left: auto;
        top: 0;
        height: 315px;
    }

    .title {
        font-family: 'Lufga Regular';
        position: absolute;
        top: 10px;
    }

    .form{
        gap: 30px;
        margin-top: 60px;
    }

    .btn {
        width: fit-content;
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    .window {
        padding-inline: 2rem;
    }

    .men {
        left: 0;
    }

    .image {
        width: 300px;
        height: 300px;
        position: relative;
        top: 100px;
    }

    .figure {
        transform: rotate(180deg);
        left: auto;
        top: 0;
        height: 315px;
        width: 100%;
        border-radius: 150px 150px 0 0;
    }

    .title {
        font-family: 'Lufga Regular';
        position: absolute;
        top: -300px;
    }

    .form{
        gap: 30px;
        margin-top: 60px;
    }
}