.btn {
    background-color: #FCE2CE;
    border: none;
    color: #92613A;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 1.25rem 3rem;
    font-size: 1.5rem;
    border-radius: 128px;
    font-weight: 600;
}